{{ partial "header.html" . }}

<main id="main">

	<div class="container">
        <!-- / section -->
<!--HOW TO LINK-->
<!--            <a href="./firstone/"></a>-->
        <div class="content-container">
            <div class="p-box">
            <h1 class="main-description">Things I've done</h1>
            <p>Having studied and worked in various fields of marketing for over 8 years now, I have a strong passion for growth hacking and product management with user needs at the core of everything I do. Much of my time has been spent happily building all sorts of digital products, both mobile and web, as you see on this page. I also spend my time trying to understand growth and digital marketing. As the President of NUS Entrepreneurship Society, I like to spend my off days engaging in the start-up community.<p>
            </div>
            
            <div class="content-container-1">
                <div class="p-box">
                <h3 class="portfolio"><a href="{{ .Site.BaseURL}}/portfolio/max-loyalty/">Max Loyalty</a></h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    2017
                    </time>
                </div>    
                <p class="summary">
                <a href="{{ .Site.BaseURL}}/portfolio/max-loyalty/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/MaxLoyalty-snippet.png"></a>
                </p>
                <p>A cutting-edge mobile application that rewards you every time you purchase from your favourite brands.</p>
                </div>    
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio">Max Loyalty</h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    2017
                    </time>
                </div>    
                <p class="summary">
                <a href="/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/MaxLoyalty-snippet.png"></a>
                </p>
                <p>A cutting-edge mobile application that rewards you every time you purchase from your favourite brands.</p>
                </div>
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio">Max Loyalty</h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    2017
                    </time>
                </div>    
                <p class="summary">
                <a href="/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/MaxLoyalty-snippet.png"></a>
                </p>
                <p>Hello World</p>
                </div>
            </div>
            
            <div class="content-container-1">
                <div class="p-box">
                <h3 class="portfolio">Max Loyalty</h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    2017
                    </time>
                </div>    
                <p class="summary">
                <a href="/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/MaxLoyalty-snippet.png"></a>
                </p>
                <p>Hello World</p>
                </div>    
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio">Max Loyalty</h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    2017
                    </time>
                </div>    
                <p class="summary">
                <a href="/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/MaxLoyalty-snippet.png"></a>
                </p>
                <p>Hello World</p>
                </div>
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio">Max Loyalty</h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    2017
                    </time>
                </div>    
                <p class="summary">
                <a href="/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/MaxLoyalty-snippet.png"></a>
                </p>
                <p>Hello World</p>
                </div>
            </div>
                
    </div>
    </div>
</main>

{{ partial "footer.html" . }}
