{{ partial "header.html" . }}

<main id="main">

	<div class="container">
        <!-- / section -->
<!--HOW TO LINK-->
<!--            <a href="./firstone/"></a>-->
        <div class="content-container">
            <div class="p-box">
            <h1 class="main-description">Things I've done</h1>
            <p>I have a strong passion for <b>growth hacking</b> and <b>product management</b> with user needs at the core of everything I do. Much of my time has been spent happily building all sorts of digital products, both mobile and web, as you see on this page. I also spend my time trying to hack my way through growth and digital marketing. As the former President of the National University of Singapore's Entrepreneurship Society, I like to spend my off days engaging in the start-up community all over the world, particularly in Singapore and San Francisco.<p>
            </div>
            
            <div class="content-container-1">
                <div class="p-box">
                <h3 class="portfolio"><a href="{{ .Site.BaseURL}}/portfolio/max-loyalty/">Max Loyalty</a></h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    Jul 2017
                    </time>
                </div>    
                <p class="summary">
                <a href="{{ .Site.BaseURL}}/portfolio/max-loyalty/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/MaxLoyalty-snippet.png"></a>
                </p>
                <p>A cutting-edge mobile application that rewards you every time you purchase from your favourite brands.</p>
                </div>    
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio"><a href="{{ .Site.BaseURL}}/portfolio/kingfashion/">KingFashion</a></h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    Sep 2016
                    </time>
                </div>    
                <p class="summary">
                <a href="{{ .Site.BaseURL}}/portfolio/kingfashion/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/kingfashion-mobile.png"></a>
                </p>
                <p>Hacking up an augmented reality shopping mobile application that won $10,000 in API World Hackathon 2016 in San Francisco.</p>
                </div>
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio"><a href="{{ .Site.BaseURL}}/portfolio/stellarloyalty/">Stellar Loyalty</a></h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    Mar 2017
                    </time>
                </div>    
                <p class="summary">
                <a href="{{ .Site.BaseURL}}/portfolio/stellarloyalty/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/stellarloyalty-portfolio.png"></a>
                </p>
                <p>Re-designed white-labelled mobile app catered for brands which secured more sales leads.</p>
                </div>
            </div>
            
            <div class="content-container-1">
                <div class="p-box">
                <h3 class="portfolio"><a href="{{ .Site.BaseURL}}/portfolio/uber/">Growth Hacking at Uber</a></h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    Dec 2017
                    </time>
                </div>    
                <p class="summary">
                <a href="{{ .Site.BaseURL}}/portfolio/uber/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/uber-smartly.png"></a>
                </p>
                <p>Analyze, test and optimize to drive rider and driver acquisition in APAC and ANZ markets.</p>
                </div>    
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio"><a href="{{ .Site.BaseURL}}/portfolio/cofounder-matching/">Cofounder Matching</a></h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    Aug 2016
                    </time>
                </div>    
                <p class="summary">
                <a href="{{ .Site.BaseURL}}/portfolio/cofounder-matching/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/zygod-portfolio.png"></a>
                </p>
                <p>An intelligent matching web platform that allows you to find the right co-founders.</p>
                </div>
            </div>
            
            <div class="content-container-1 content-container-half">
                <div class="p-box">
                <h3 class="portfolio"><a href="{{ .Site.BaseURL}}/portfolio/startups/">NUS Entrepreneurship Society</a></h3>
                <div class="entry-meta summary">
                    <time class="entry-date published">
                    Apr 2016
                    </time>
                </div>    
                <p class="summary">
                <a href="{{ .Site.BaseURL}}/portfolio/startups/"><img class="portfolio-img" src="{{ .Site.BaseURL }}images/nes1.png"></a>
                </p>
                <p>
                Successfully liaised with over 20 corporate partners such as Uber and e27
                </p>
                </div>
            </div>
                
    </div>
    </div>
</main>

{{ partial "footer.html" . }}
