	<h1 class="home-intro">Product + Growth Enthusiast</h1>
    <div id="kube-features">
        <div class="row gutters">
      <div class="col col-6 itemA">
        <figure>
          <img alt="Baseline" src="images/stellarloyalty.png" width="120">
        </figure>
        <span class="button">Read more</span>
        <a href="www.google.com" class="case-item-link"></a>
        <h1white>Managing Loyalty Products</h1white>
        <p>As a Product Manager for Stellar Loyalty, an enterprise marketing SaaS startup, I led the product design of white-labelled mobile and web applications, and successfuly rolled out dashboard features and promotional rules.</p>
      </div>
      <div class="col col-6 itemB">
        <figure>
          <img alt="Baseline" src="images/uberlogo.png" width="80">
        </figure>
          <span class="button">Read more</span>
          <h1white>Driving Growth at Uber</h1white>
        <p>Being part of the Growth Marketing team in Uber APACx made me responsible for driving rider and driver acquisiton growth mainly through social channels. Analyze, test and optimize. </p>
      </div>
    </div>
    <div class="row gutters">
      <div class="col col-6 itemC">
        <figure>
          <img alt="Baseline" src="images/MAX.png" width="70">
        </figure>
        <span class="button">Read more</span>
        <h1white>Building Products in the Valley</h1white>
        <p>Designed Max Loyalty app - a universal loyalty app for consumers to earn points and get rewards. Managing feature development and reiteration according to feedback from users in a period of 4 months.</p>
      </div>
      <div class="col col-6 itemD">
        <figure>
          <img alt="Baseline" src="images/kingfashion.png" width="90">
        </figure>
        <span class="button">Read more</span>
        <h1white>Winning $10,000</h1white>
        <p>Built a prototype of an Augmented Reality shopping app in a team of four that won $10,000 in the API World Hackathon 2016 in San Francisco.</p>
      </div>
    </div>
    </div>
	</div>	<!-- /container -->

