{{ partial "header.html" . }}

<main id="main">

	<div class="container">
        
		<div class="row topspace">

			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="nav text-right nav-side">
					<li class="active">Work Experience</li>
				</div>

			</aside>
			<!-- /Sidebar -->
            
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
                <div class="experience">
                    <div class="about-h1">
                    Growth Marketing Intern</div>
                    <div class="about-h2"><strong>
                        <a href="https://www.uber.com/">Uber APACx</a><i>, Singapore, Dec 2017 to Present</i></strong></div>
                    <div class="about-h3">
                        In a team of growth hackers with a common mission of driving supersonic growth in one of the largest markets in the world for the largest ride-sharing app.
                        <ul>
                            <li>Scaling social advertising spend for both driver and rider acquisition growth in Asia Pacific with responsibility in delivering sign ups and first trips</li>
                            <li>Analyzing and optimizing campaign performance against key performance metrics</li>
                        </ul>
                        </div>
                </div>
                
                <div class="experience">
                    <div class="about-h1">
                    Product Manager</div>
                    <div class="about-h2"><strong>
                        <a href="http://stellarloyalty.com/">Stellar Loyalty</a><i>, San Francisco Bay Area, August 2016 to July 2017</i></strong></div>
                    <div class="about-h3">
                        Working directly with the VP of Product, we built an enterprise marketing SaaS start-up that provides brands with modern, cloud software that can engage and build loyalty with their customers.
                        <ul>
                            <li>Successfully rolled out four features for B2B marketing software, such as dashboards, back-end rules and punch cards, which led to an increase in client base by 7 brands</li>
                            <li>Implemented improvements to engagement features for restaurants and retail brands by extracting data-backed insights through R to understand missing gaps in product </li>
                            <li>Improved white-labelled mobile app design which secured more sales leads</li>
                        </ul>
                        </div>
                </div>
                
                <div class="experience">
                    <div class="about-h1">
                    Account Manager Intern</div>
                    <div class="about-h2"><strong>
                        <a href="https://www.ogilvy.com/tag/ogilvy-mather-singapore/">Ogilvy &amp; Mather</a><i>, Singapore, May 2016 to July 2016</i></strong></div>
                    <div class="about-h3">
                        Worked with the Singtel marketing team to strategize, plan and execute their integrated marketing communications strategy.
                        <ul>
                            <li>Spearheaded digital campaigns for product launches that led to a 10% revenue increase</li>
                            <li>Strategized an executed on the creative re-engagement strategy of increasing mobile plan subscriptions by working with strategy planners, creatives and the Singtel mobile plan team</li>
                        </ul>
                        </div>
                </div>
                
                <div class="experience">
                    <div class="about-h1">
                    Strategy Planner Intern</div>
                    <div class="about-h2"><strong>
                        <a href="https://www.wavemakerglobal.com/">Maxus (Group M and WPP agency)</a><i>, Singapore, May 2015 to July 2015</i></strong></div>
                    <div class="about-h3">
                        In the technology and R&amp;D team, we strategize and incorporate new technologies in various consumer-facing retail brands' marketing campaigns.
                        <ul>
                            <li>Successfully developed and coordinated marketing campaigns for The Body Shop</li>
                            <li>Incorporated creative technologies such as Virtual Reality, SmellTech, wearable &amp; retail beacon technology into campaigns</li>
                        </ul>
                        </div>
                </div>
                
			</article>
			<!-- /Article -->
                    
			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="nav text-right nav-side">
					<li class="active">Technical Skills</li>
				</div>

			</aside>
			<!-- /Sidebar -->
            
            <!-- Content -->          
            <article class="col-sm-3 maincontent">
                <div class="experience">
                <div class="about-h1">Technologies &amp; Data</div>
                <div class="about-h3">
                    <ul>
                        <li>SQL</li>
                        <li>Tableau</li>
                        <li>Python</li>
                        <li>R (limited)</li>
                        <li>HTML5 / CSS3</li>
                        <li>Javascript / Jquery</li>
                        <li>Version Control (Git)</li>
                    </ul>
                </div>
                </div>
            </article>
            
             <article class="col-sm-3 maincontent">
                <div class="about-h1">Product Design</div>
                <div class="about-h3">
                    <ul>
                        <li>Sketch</li>
                        <li>Figma</li>
                        <li>Adobe XD</li>
                        <li>Adobe Photoshop</li>
                    </ul>
                </div>
            </article>
            
             <article class="col-sm-3 maincontent">
                <div class="about-h1">Growth Hacks</div>
                <div class="about-h3">
                    <ul>
                        <li>Facebook Marketing</li>
                        <li>Smartly</li>
                        <li>Double Click Marketing</li>
                        <li>Search Engine Optimization</li>
                    </ul>
                </div>
            </article>            
            
			<!-- /Content -->            

			<!-- Sidebar -->
			<aside class="col-sm-3 sidebar sidebar-right">

				<div class="nav text-right nav-side">
					<li class="active">Education</li>
				</div>

			</aside>
			<!-- /Sidebar -->
            
			<!-- Article main content -->
			<article class="col-sm-9 maincontent">
                <div class="experience">
                    <div class="about-h1">
                    Bachelor's Degree in Business Administration</div>
                    <div class="about-h2"><strong>
                       National University of Singapore</strong></div>
                    <div class="about-h3">
                        <ul>
                            <li><b>Honors:</b> NUS Kent Ridge Undergraduate Scholarship, University Scholars Programme (USP), Philip Yeo NUS Overseas College Award</li>
                            <li><b> Overseas Work + Study Experience:</b>Went to Silicon Valley for a year-long internship stint under the NUS Overseas College program</li>
                            <li><b>Hackathons + Case Competitions:</b> Champions in API World Hackathon 2016 (San Francisco), Design Finland 100 Innovation Competition 2017 (Finland), Tohoku-INTILAQ Business Idea Competition 2014 (Japan)</li>
                        </ul>
                        </div>
                    
                    <div class="experience">
                    <div class="about-h1">
                    Management Science &amp; Engineering</div>
                    <div class="about-h2"><strong>
                       Stanford University</strong></div>
                    <div class="about-h3">
                        <ul>
                       <li>Read 2 modules under the MS&amp;E program with the NUS Overseas College, namely MS&amp;E 178 The Spirit of Entrepreneurship and MS&amp;E 472: Entrepreneurial Thought Leaders' Seminar</li>
                       <li>Obtained mentorship from Stanford Professor Tom Kosnik on business idea which eventually won $10,000 in funding grant</li>
                        </ul>
                    </div>  
                    </div>  
                </div>
                
                <div class="button_container" align='center'>
                    <a href="../Resume_Rafikah_Halim_Jan2018.pdf"><button class="button-about button5"> Download my resume</button></a>
                </div>
	</div>
            
    <!-- /container -->

</main>

{{ partial "footer.html" . }}