  <footer id="footer">
      <h1><img src="{{ .Site.BaseURL }}images/Rafikah_Halim_2017.png" alt="Rafikah_Halim_2017" border="0"></h1>
      <p>Hi! I'm <strong>Rafikah</strong>, and I love digital product design, marketing and data. I've spent a year in a Silicon Valley startup as a <strong>product manager</strong>, and I've dabbled in <strong>growth marketing</strong> roles in Uber and Ogilvy &amp; Mather. </p>
      <p>You can reach out to me <a href="mailto:rafikahMH@gmail.com">via email</a> or <a href="https://www.linkedin.com/in/rafikahhalim/">LinkedIn</a>. Say hello!</p>
  </footer>

<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/template.js"></script>
<script id="dsq-count-scr" src="//{{ .Site.Params.disqus.site }}/count.js" async></script>
{{ partial "analyticstracking.html" . }}
</body>
</html>
